# Time classification

In [301]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score, roc_auc_score, mean_squared_error
from imblearn.over_sampling import SMOTE
import pandas as pd
import numpy as np
import datetime
rnd = 12

In [326]:
#df = pd.read_csv('df_fin.csv')
df = pd.read_excel('df_fin1.xlsx')

In [327]:
# I will use only most useful created features from previous model
# and so only email related features will be included
# Complete datatset could be created using same techniques as below combined with 
# data prep pipeline from Binary regression

In [328]:
#model_vars = ['customer_id','date','hour','weekday',
#              'prch_freq','prch_last','prch_mean_diff',
#              'cart_freq','cart_last','cart_mean_diff',
#              'view_freq','view_last','view_mean_diff',
#              'sess_freq','sess_last','sess_mean_diff',
#              'email_freq','email_last','email_mean_diff']

model_vars = ['customer_id','date','hour','weekday',
              'email_freq','email_last','email_mean_diff']
model_df = df[model_vars]
Y = df.response
model_df = model_df[Y==1]

In [329]:
[model_df.date.min(),model_df.date.max()]

[Timestamp('2018-03-17 08:03:12.581000'),
 Timestamp('2018-05-15 15:01:16.181000')]

In [330]:
# Find range of possible values and sample from it
rng = int(abs(model_df.date.min() - model_df.date.max()).total_seconds())
mn = model_df.date.min()

In [331]:
# if any event occured inbetween it is involuntarilky excluded

In [332]:
df = pd.DataFrame(columns=model_df.columns)

for x in range(200):
    # transform observation to timestamp
    i = int(np.random.uniform(0,rng))
    stamp = mn + datetime.timedelta(seconds=i)

    # create relevant subset of positive reponses
    # ie y=0 & is in the future for each customer
    temp_df = model_df[model_df.date > stamp]
    temp_df.sort_values(by='date',inplace=True)
    temp_df.drop_duplicates(subset='customer_id',inplace=True)

    diff = (temp_df.date - stamp).dt.seconds.fillna(0).div(60)
    temp_df.hour = stamp.hour
    temp_df.weekday = stamp.dayofweek + 1
    temp_df.email_last = model_df.email_last - diff
    # response in hours
    temp_df['cresponse'] = diff.div(60)

    df = df.append(temp_df[temp_df.email_last>=0])
df = pd.DataFrame(df)

C:\Users\chladek\AppData\Local\Continuum\anaconda3-64\envs\tf\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\chladek\AppData\Local\Continuum\anaconda3-64\envs\tf\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\chladek\AppData\Local\Continuum\anaconda3-64\envs\tf\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
C:\Users\chladek\AppData\Local\Continuum\anaconda3-64\envs\tf\lib\site-packages\ipykernel\__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\chladek\AppData\Local\Continuum\anaconda3-64\envs\tf\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [333]:
df

,cresponse,customer_id,date,email_freq,email_last,email_mean_diff,hour,weekday
12983,12.925000,319c2b1241efdd2f06620b24,2018-05-10 06:42:56.777,1,403.616667,0.000000,17,3
42645,12.925000,a5b9aabd4b0908fc5b23e057,2018-05-10 06:42:57.365,28,614.416667,683.225926,17,3
154,12.925278,00b23eb6c75112d8c72ec42e,2018-05-10 06:42:57.614,8,433.300000,762.285714,17,3
43836,12.925278,aaa83387048738d7b37b6531,2018-05-10 06:42:58.258,33,638.800000,671.650000,17,3
30119,12.925556,705f9509777b0348a1097b8c,2018-05-10 06:42:58.715,35,615.633334,761.425000,17,3
13071,12.925556,31c1adee13e1acb6118e94c3,2018-05-10 06:42:58.822,13,373.066667,854.973611,17,3
33863,12.925556,8123bf5ad61841fef63f135a,2018-05-10 06:42:59.528,9,588.266667,502.912500,17,3
23412,12.925833,56bbba9e9771e7c37a8c6a52,2018-05-10 06:42:59.596,31,507.450000,767.089444,17,3
26953,12.925833,649ccb3732332630ea887127,2018-05-10 06:42:59.809,34,480.850000,646.504545,17,3
12770,12.926111,30723b2d7b6bf48d82e9d5fc,2018-05-10 06:43:00.584,33,642.600000,626.373958,17,3
32960,12.926111,7d2d321a481e71d1c4487b2d,2018-05-10 06:43:00.689,14,629.233333,770.033333,17,3
23131,12.926111,5588b188a9366d1a0204015d,2018-05-10 06:43:00.947,26,277.266666,643.022667,17,3
4527,12.926111,113fed53fcb582c978a2fbec,2018-05-10 06:43:01.085,36,378.500000,821.584286,17,3
9441,12.926111,2582dbfcf197391b100ae73e,2018-05-10 06:43:01.219,27,2.883333,717.220513,17,3
43333,12.926389,a87a4806efcaa3aaa274c3de,2018-05-10 06:43:01.663,7,372.350000,717.019444,17,3
2002,12.926389,073cf772b72b8e79a5efc65d,2018-05-10 06:43:01.724,33,595.416667,715.593750,17,3
569,12.926389,01e62b32c47f658b7c62c45b,2018-05-10 06:43:01.849,8,557.983334,400.459524,17,3
836,12.926389,02cc45228bde5bea9e44fd27,2018-05-10 06:43:02.181,15,192.966667,630.564286,17,3
5058,12.926389,133c41c04fb252351baf60dc,2018-05-10 06:43:02.456,24,623.016667,611.571739,17,3
9895,12.926667,2658edf7e1a006600218ec37,2018-05-10 06:43:02.847,28,609.016667,588.305556,17,3
41518,12.926667,a0f547731582bc4a50dad401,2018-05-10 06:43:03.410,5,456.500000,725.533333,17,3
41937,12.926944,a22aae6e524a574fd71d540c,2018-05-10 06:43:03.654,9,625.483333,676.362500,17,3
36222,12.926944,8b94633357de27b4a5bbefa1,2018-05-10 06:43:03.917,36,438.183333,578.774286,17,3
28994,12.926944,6bf34b5b10f9a713f412a9ba,2018-05-10 06:43:04.007,30,642.650000,592.326437,17,3
30469,12.927222,717c4739160395decfa278e8,2018-05-10 06:43:04.916,31,599.816667,571.090556,17,3
1094,12.927222,0382a3f06339129fd47fcd07,2018-05-10 06:43:04.963,32,204.600000,732.516129,17,3
36403,12.927222,8cd3cc167daded30c5193d6b,2018-05-10 06:43:04.972,12,640.250000,879.177273,17,3
8644,12.927222,221d222aa4696c50fdebbf3e,2018-05-10 06:43:05.153,34,388.066667,559.196465,17,3
19269,12.927222,4738c3612a2d8126aa103d11,2018-05-10 06:43:05.153,13,169.083333,623.126389,17,3
229,12.927222,0101c81520b9890ac8729516,2018-05-10 06:43:05.184,35,623.750000,632.886765,17,3
...,...,...,...,...,...,...,...,...
33886,11.212500,81918116ed0319bbb6921ae9,2018-04-16 07:06:37.294,1,645.700000,0.000000,19,6
30345,11.227222,715dafb22b7a3acd917c217b,2018-04-16 07:07:30.432,2,493.616667,1343.883333,19,6
41146,11.233889,9f6d533ed91dd051a3df02ef,2018-04-16 07:07:53.863,1,659.950000,0.000000,19,6
4986,11.253056,12f13583b90c76c0c314a584,2018-04-16 07:09:03.000,1,672.683334,0.000000,19,6
7165,10.991944,1c7b039e544324edb651d6fb,2018-04-17 06:53:23.078,1,676.100000,0.000000,19,6
15865,11.110278,3b82a1226a4b071aac81fa30,2018-04-17 07:00:29.371,1,84.983333,0.000000,19,6
17274,11.130278,40d87cc7fa5ef56c3d5596c2,2018-04-19 07:01:41.198,3,639.083333,583.941667,19,6
23343,11.133333,565501cd11c74977e9036b91,2018-04-19 07:01:52.315,1,716.566667,0.000000,19,6
7245,11.144722,1cd9bb86cef13742b81ceaa4,2018-04-19 07:02:32.723,1,335.983334,0.000000,19,6
4469,11.164167,112057f2a2f5be073f14f971,2018-04-19 07:03:42.834,4,661.983333,907.511111,19,6
13013,11.164444,31b87ccde261584b544c3ce7,2018-04-19 07:03:44.106,1,720.333333,0.000000,19,6
3799,11.169444,0e9183e0169cc17ab7b37fd3,2018-04-19 07:04:02.448,1,60.766667,0.000000,19,6
39877,12.645556,9b2790ed5824560504dd25f9,2018-04-19 08:32:36.564,1,399.366667,0.000000,19,6
15005,16.171389,37f47b071d852b7726ae70cb,2018-04-20 12:04:09.051,1,90.766667,0.000000,19,6
30702,11.156667,7339ac1831cee0d6b164f035,2018-04-22 07:03:16.395,1,258.550000,0.000000,19,6
33475,12.107222,7f143d289849f6c3f3d998b1,2018-04-22 08:00:17.993,1,50.900000,0.000000,19,6
28318,11.113611,69831de0bd9dc8a9954b0690,2018-04-23 07:00:41.533,1,514.233333,0.000000,19,6
31001,11.116944,74e65bd6f8ee0418d5ea1c01,2018-04-23 07:00:52.720,1,324.483333,0.000000,19,6
18212,11.136111,43b0181b08593f7380190389,2018-04-23 07:02:02.359,1,672.333333,0.000000,19,6
13372,11.077222,330438553332b26fef3d6446,2018-04-24 06:58:29.889,7,57.483333,220.388889,19,6
36506,11.156667,8e42f9fa99b13ab487d34af0,2018-04-24 07:03:16.278,1,504.633333,0.000000,19,6
35495,11.160833,8911bfbf807c38a804ccc73b,2018-04-24 07:03:31.257,1,626.916667,0.000000,19,6
3265,11.260000,0c0cd2ec4db5f170dcbba4be,2018-04-24 07:09:27.936,1,207.250000,0.000000,19,6
22525,11.270556,52dbe4a609c59a5bf1e4f053,2018-04-26 07:10:06.516,1,363.166667,0.000000,19,6
7301,11.093889,1d5db4ebe22b2992d9a6d656,2018-05-03 06:59:30.150,1,485.083334,0.000000,19,6
12808,11.055833,3076d5e8023927277056e20e,2018-05-07 06:57:13.515,1,255.566667,0.000000,19,6
19011,11.128333,462c52b5e16e70037bd04d8a,2018-05-08 07:01:33.933,3,388.550000,95.741667,19,6
30797,11.139444,736ee044ec63ddb4f4e7183d,2018-05-08 07:02:14.341,1,249.216667,0.000000,19,6
8431,10.918056,21ae0f1c0ce9039236a71849,2018-05-13 06:48:57.532,5,137.483333,21.437500,19,6
38515,11.634167,961a663475f3de127cc5443b,2018-05-15 07:31:54.825,1,655.933333,0.000000,19,6

In [340]:
#for col in ['weekday']:
#    dummies = pd.get_dummies(df[col], prefix=col)
#    to_del = pd.get_dummies(df[col], prefix=col).columns[0]
#    dummies.drop(labels=to_del, axis=1, inplace=True)
#    df = pd.concat([df,dummies],axis=1)
#    df.drop([col],axis=1, inplace=True)

X = df.drop(['cresponse','customer_id','date'],1)
Y = df.cresponse.astype(int)

In [342]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.1, random_state=rnd)
y_train = np.ravel(y_train)
y_test = np.ravel(y_test)
y_test_transformed = np.hstack((1 - y_test.reshape(y_test.size,1),
                                y_test.reshape(y_test.size,1)))

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(65000, 5) (65000,)
(7223, 5) (7223,)

In [343]:
Y.value_counts()

7     5075
6     4868
3     4514
8     4424
15    4296
11    4141
5     3975
2     3929
13    3788
16    3305
10    3218
4     3022
12    3013
9     2511
14    2502
18    2454
17    2260
0     2243
1     2158
19    2048
21    1628
22    1226
20    1173
23     452
Name: cresponse, dtype: int64

# Classes

In [344]:
# quick RF model baseline
clf_rf = RandomForestClassifier(n_estimators=300, random_state=rnd,verbose=1)
clf_rf.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:   58.3s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob_score=False, random_state=12, verbose=1, warm_start=False)

# Regression

In [299]:
# quick RF model baseline
rgr_rf = RandomForestRegressor(n_estimators=300, random_state=rnd,verbose=1)
rgr_rf.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:  1.4min finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
           oob_score=False, random_state=12, verbose=1, warm_start=False)

In [325]:
Y.min()

0.0005555555555555556

In [320]:
print('Test Results')
print("MSE: ",mean_squared_error(y_test,rgr_rf.predict(X_test)))

Test Results
MSE:  3.256871210934655

[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    1.1s finished

In [300]:
var_imp_rgr_rf = pd.DataFrame({'vars': X_train.columns,'imp':rgr_rf.feature_importances_})
var_imp_rgr_rf.sort_values(by='imp',ascending=False)

              vars       imp
3             hour  0.810519
1       email_last  0.141308
2  email_mean_diff  0.030434
0       email_freq  0.010584
4          weekday  0.007155